<section>
  <h1>NoSql</h1>
  <h2>Not Only Sql</h2>
  <p>
    <small>by <a href="https://github.com/saicheg/">Valentine Zavadsky</a> </a></small>
  </p>
</section>

<section>
  <h3>What is NoSql?</h3>
  <%= image_tag 'question.png', :class => 'no-border' %>
</section>

<section>
  <p>
    NoSQL is a broad class of database management systems identified by non-adherence to the widely used relational database management system model.
  </p>
  <%= image_tag 'wiki.png', :class => 'no-background no-border no-shadow' %>
</section>


<section>
  <h3>What i know</h3>
  <%= image_tag 'dbiknow.png', :class => 'no-background no-border no-shadow' %>
</section>

<section>
  <h3>What exists</h3>
  <%= image_tag 'dbexists.png', :class => 'no-background no-border no-shadow' %>
</section>

<section>
  <h3>Classifications</h3>
  <ul>
    <li>Key-values Stores</li>
    <li>Document Databases</li>
    <li>Graph Databases</li>
    <li>Column Family Stores</li>
    <li>And more...</li>
  </ul>
</section>

<section>
  <h3>Key-values Stores</h3>
  <%= image_tag 'db-key-value.png', :class => 'no-background no-border no-shadow' %>
</section>

<section>
  <h3>Document Databases</h3>
  <%= image_tag 'db-document.png', :class => 'no-background no-border no-shadow' %>
</section>

<section>
  <h3>Graph Databases</h3>
  <%= image_tag 'db-graph.png', :class => 'no-background no-border no-shadow' %>
</section>

<section>
  <h3>Column Family Stores</h3>
  <%= image_tag 'db-wide-column.png', :class => 'no-background no-border no-shadow' %>
</section>

<section>
  <a href='http://redis.io/'><%= image_tag 'redis-logo.png', :class => 'no-background no-border no-shadow' %></a>
</section>

<section>
  <%= image_tag 'demo1.png' %>
</section>

<section>
  <a href='http://www.mongodb.org/'><%= image_tag 'mongo.png', :class => 'no-background no-border no-shadow' %></a>
</section>

<section>
  <h2>Collections</h2>
  <%= image_tag 'collection.jpg', :class => 'no-background no-border no-shadow' %>
</section>

<section>
  <h2>Documents</h2>
  <%= image_tag 'documents.jpg', :class => 'no-background no-border no-shadow' %>
</section>


<section>
  <h2>Everything is BSON</h2>
  <ul>
    <li>Strings</li>
    <li>Numbers</li>
    <li>Arrays</li>
    <li>Hashes</li>
    <li>Timestamps</li>
    <li>and much <a href='http://bsonspec.org/#/specification'>more...</a></li>
  </ul>
</section>

<section>
  <%= image_tag 'end.jpg', :class => 'no-background no-border no-shadow' %>
</section>
