<section>
  <h1>NoSql</h1>
  <h2>Not Only Sql</h2>
  <p>
    <small>by <a href="https://github.com/saicheg/">Valentine Zavadsky</a> </a></small>
  </p>
</section>

<section>
  <h3>What is NoSql?</h3>
  <%= image_tag 'question.png', :class => 'no-border' %>
</section>

<section>
  <p>
    NoSQL — термин, обозначающий ряд подходов, проектов, направленных на реализацию моделей баз данных, имеющих существенные отличия от используемых в традиционных реляционных СУБД с доступом к данным средствами языка SQL.
  </p>
  <%= image_tag 'wiki.png', :class => 'no-background no-border no-shadow' %>
</section>

<section>
  <h3>What i think when someone says "SQL"</h3>
  <%= image_tag 'dude.jpg', :class => 'no-background no-border no-shadow' %>
</section>

<section class="acid">
  <h3>Principles</h3>
  <ul>
    <li><strong>A</strong>tomicity: All or nothing</li>
    <li><strong>C</strong>onsistency: Any transactions will take db from one state to another, with no broken constrains</li>
    <li><strong>I</strong>solation: Other operations cannot access data that has been modified during a transaction that has not yet completed</li>
    <li><strong>D</strong>urability: Ability to recover the commited transaction updates against any kind of system failure(transaction log)</li>
  </ul>
</section>

<section class="normal-forms">
  <h3>Normal forms</h3>
  <ul>
    <li><strong>1</strong>st normal form: Table faithfully represents a relation and has no repeating groups</li>
    <li><strong>2</strong>nd normal form: No non-prime attribute in the table is functionally dependent on a proper subset of any candidate key</li>
    <li><strong>3</strong>rd normal form: Every non-prime attribute is non-transitively dependent on every candidate key in the table. The attributes that do not contribute to the description of the primary key are removed from the table. In other words, no transitive dependency is allowed.</li>
  </ul>
</section>

<section>
  <h3>Normal forms</h3>
  <%= image_tag 'table.png', :class => 'no-background no-border no-shadow' %>
</section>

<section>
  <h3>Normal forms</h3>
  <%= image_tag 'wat2.jpg', :class => 'no-background no-border no-shadow' %>
</section>

<section>
  <h3>What i know</h3>
  <%= image_tag 'dbiknow.png', :class => 'no-background no-border no-shadow' %>
</section>

<section>
  <h3>What exists</h3>
  <%= image_tag 'dbexists.png', :class => 'no-background no-border no-shadow' %>
</section>

<section>
  <h3>Classifications</h3>
  <ul>
    <li>Key-values Stores</li>
    <li>Column Family Stores</li>
    <li>Document Databases</li>
    <li>Graph Databases</li>
    <li>And more...</li>
  </ul>
</section>

<section>
  <h3>Key-values Stores</h3>
  <%= image_tag 'db-key-value.png', :class => 'no-background no-border no-shadow' %>
</section>

<section>
  <h3>Column Family Stores</h3>
  <%= image_tag 'db-wide-column.png', :class => 'no-background no-border no-shadow' %>
</section>

<section>
  <h3>Document Databases</h3>
  <%= image_tag 'db-document.png', :class => 'no-background no-border no-shadow' %>
</section>

<section>
  <h3>Graph Databases</h3>
  <%= image_tag 'db-graph.png', :class => 'no-background no-border no-shadow' %>
</section>

<section>
  <h2>Demo time!</h2>
  <h2>Линия отрыва</h2>
  <!-- Some funny image here -->
</section>

<section>
  <%= image_tag 'redis-logo.png', :class => 'no-background no-border no-shadow' %>
</section>

<section>
  <h2>Redis structures</h2>
  <ul>
    <li>Strings</li>
    <li>Hashes</li>
    <li>Lists</li>
    <li>Sets</li>
    <li>Sorted sets</li>
  </ul>
</section>

<section>
  <%= image_tag 'demo1.png' %>
</section>

<section>
  <%= image_tag 'mongo.png', :class => 'no-background no-border no-shadow' %>
</section>

<section>
  <h2>Collections</h2>
  <%= image_tag 'collection.jpg', :class => 'no-background no-border no-shadow' %>
</section>

<section>
  <h2>Documents</h2>
  <%= image_tag 'documents.jpg', :class => 'no-background no-border no-shadow' %>
</section>


<section>
  <h2>Everything is BSON</h2>
  <ul>
    <li>Strings</li>
    <li>Numbers</li>
    <li>Arrays</li>
    <li>Hashes</li>
    <li>Timestamps</li>
    <li>and much <a href='http://bsonspec.org/#/specification' target='_blank'>more...</a></li>
  </ul>
</section>

<section>
  <h2>1-1</h2>
  <%= image_tag 'one-to-one.png', :class => 'no-background no-border no-shadow' %>
  <pre class="fragment"><code contenteditable>
db.suppliers.findOne()
#=> {'_id': 1, name: 'Samsung', account: {account_number: '1asd122d'}}
  </code></pre>
</section>

<section>
  <h2>1-*</h2>
  <%= image_tag 'one-to-many.png', :class => 'no-background no-border no-shadow' %>
  <pre class="fragment"><code contenteditable>
db.customets.findOne()
#=> {'_id': 1, name: 'John', orders:[{'item_name': 'duck', date: '2011/11/11'}, {'item_name': 'ballon', date: '2011/11/15'}]}
  </code></pre>
</section>

<section>
  <h2>1-*</h2>
  <%= image_tag 'one-to-many.png', :class => 'no-background no-border no-shadow' %>
  <pre class="fragment"><code contenteditable>
db.customets.findOne()
#=> {'_id': 1, name: 'John', orders:[1,2]}
db.orders.find()
#=> [{'_id': 1, 'item_name': 'duck', date: '2011/11/11'}, {'_id': 2, 'item_name': 'ballon', date: '2011/11/15'}]
  </code></pre>
</section>


<section>
  <h2>*-*</h2>
  <%= image_tag 'many-to-many.png', :class => 'no-background ' %>
</section>

<section>
  <h2>*-*</h2>
  <pre><code contenteditable>
db.assemblies.find()
#=> [{'_id': 1, name: 'Motorolla MPx200 v1', parts:[1,2]},
#    {'_id': 2, name: 'Motorolla MPx200 v2'}, parts:[1,2,3]]
db.parts.find()
#=> [{'_id': 1, name: 'display', assemblies: [1,2]},
#    {'_id': 2, name: 'buttons', assemblies: [1,2]},
#    {'_id': 3, name: 'secret',  assemblies: [3]}]
  </code></pre>
</section>

<section>
  <h2>What we do not talk about:</h2>
  <ul>
    <li>Geolocational indexes</li>
    <li>Sharding</li>
    <li>Map/reduce</li>
  </ul>
</seciton>


<section>
<%= image_tag 'end.jpg', :class => 'no-background no-border no-shadow' %>
</section>


